
.parallax{
    background: rgba(0, 0, 0, 0.637) url('./poor1.jpeg') no-repeat fixed center/cover;
    background-blend-mode: darken;
}

.parallax-inner{
    color: white;
    
    padding-bottom:20px ;
}

.form1 input{
    margin-right: 5%;
}

.bg-none{
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    border: 0;
    padding-left: 3rem;
}


.bg-none::placeholder{
    color: #F1C34F;
    font-size: 1.2rem;
}

@media screen and (max-width:425px) {
    
    .parallax-inner h1{
        font-size: 2rem;
    }
    
    .form-resp{
       flex-direction: column;
       margin-left: 2%;
       margin-right: 2%;
    }
    .form1 input{
        margin-right: 0.2rem;
    }
    .form2 input{
        margin-left: 0.2rem;
        margin-right: -1.5rem;
    }
   .form3 .form4{
        margin-left: 2%;
       
    }
  }
@media screen and (min-width:425px){
    .join{
        margin-left: 2%;
    }
}
  @media screen and (max-width:768px) {
    .parallax-inner h2{
        font-size: 1.5rem;
      }
  
    .parallax-inner .about-line{
        width: 85%;
        font-size: 1rem;
      }
      
  }