
.parallax{
    background: rgba(0, 0, 0, 0.637) url('./poor1.jpeg') no-repeat fixed center/cover;
    background-blend-mode: darken;
}

.parallax-inner{
    color: white;
    font-size: 1.4rem;
    padding-bottom:20px ;
}

.bg-none{
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    border: 0;
    padding-left: 3rem;
}


.bg-none::placeholder{
    color: #F1C34F;
    font-size: 1.2rem;
}

@media screen and (max-width:375px) {
    
    .parallax-inner h1{
        font-size: 2rem;
    }
    
  }