.blog-footer{
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px){
    .blog-footer {
        width: 970px;
    }
}
    
@media (min-width: 768px){
    .blog-main {
        width: 750px;
        }
    }
    
@media screen and (max-width: 768px){


        .blog-footer{
            padding: 15px;
        }

        .blog-footer .test-container{
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .blog-footer .feedback{
            flex-direction: column;
        }
    }