.blog-footer{
    margin: 0 auto;
    width: 900px;
}

@media screen and (max-width: 768px) {
    .blog-footer{
        width: 100%;
        margin: 10px;
    }

    .blog-footer .test-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }


}

.blog-footer .feedback h3{
    font-weight: normal;
    margin-bottom: 5px;
}

@media screen and (max-width: 950px) {
    .blog-footer .feedback{
        flex-direction: column;
    }
}