.blog-header{
    margin-top: 0;
}

.blog-header .parallax{
    background:  rgba(0, 0, 0, 0.637) url('headerimage.jpg') no-repeat fixed center/cover;
    object-position: 50% 50%; ;
    height: 35%;
    filter: grayscale();

}

.blog-header .blog-title{
    margin: 0 auto;
    width: 70%;
}

.blog-header .about-line{
    width: 60%;
    word-spacing: 10px;
}