

.blog-header .parallaxx{
    background:  rgba(0, 0, 0, 0.637) url('headerimage.jpg') no-repeat fixed center/cover;
    background-blend-mode: darken;
    filter: grayscale();
    padding: 150px 50px 50px 50px;
}

.blog-title{
   
        display: grid;
        grid-template-columns:40% 60%;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 30px;
}

@media screen and (max-width:980px) {
    .blog-title{
        display: block;
        padding: 0;
    }

    .blog-title .breadcrumb{
        text-align: center;
        margin-top: 150px;
    }

}


/* .blog-header .blog-title{
    padding-bottom: 50px;
    
}

.blog-title div:nth-child(2){
    width: fit-content;
    word-spacing: 4px;
}

.blog-title div:nth-child(1){
    position: relative;
    width: fit-content;
}

@media screen and (max-width: 1024px) {
    .blog-header .parallaxx{
        width: 100%;
    }

    
  
    .blog-title div:nth-child(1){
        float: none;
        width:auto;
        text-align: center;
        margin-top: 100px;
    }
    .blog-title div:nth-child(2){
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 100px;
    } */
