.goals .about-line{
  margin: 0 auto;
  margin-top: 1.5rem;
  line-height: 1.7rem;
  font-weight: 200;
}

.bar-inside{

  position: absolute;
  top: 0;
  left: 0;
}

.progress{
  width: 100%;
  max-width: 750px;
  height: 24px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 12px;
}
  
  .progress-bar{
    display: block;
    height: 100%;
  }
     
  .progress-bar span{
    line-height: 2.5px;
    text-align: center;
  }


@media only screen and (max-width: 768px) {
  .progress-bar-container .buttons{
    display: flex;
    flex-direction: column;
    }
  .progress-bar-container .buttons a{
      width: 250px;
      font-size: 1rem;
      text-align: center;
      margin: 0 auto;
    }
  .progress-bar-container .buttons a:nth-child(2){
      
      margin-top: 10px;
    }

    .goals h2{
      font-size: 1.5rem;
    }

    .goals .about-line{
      width: 85%;
      font-size: 1rem;
    }

    .progress-bar-container .progress{
      width: 400px;
    }
}


@media screen and (max-width:425px) {
  
}

@media screen and (min-width:1440px) {
  
}

