/* .fixed-bg {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #e88f0a;
    background-size: 100% 100%;
  } */

h1{
  vertical-align: middle;
}

  .para{
    position: relative;
    height: 150px;
  }

  .para p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;

  }


@media screen and (max-width:320px) {
  .fixed-bg h1{
    font-size: 5vw;
  }
  .para{
    font-size: 3vw;
    line-height: 3vw;
  }
  .fixed-bg{
    background-repeat: no-repeat;
  }
}


@media screen and (max-width:425px) {
  .fixed-bg h1{
    font-size: 5vw;
  }
  .para{
    font-size: 3vw;
    line-height: 3vw;
  }
}

@media screen and (min-width:1440px) {
  .para p{
    font-size: 1.2rem;
  }
}