.navbar-container{
    display: grid;
    grid-template-columns:25% 75%;
    align-items: center;
    justify-content: center;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    color: white;

    transition-timing-function: ease-in 1.5s;
    transition: all 0.5s;
}

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img{
    width: 70px;
    object-fit: contain;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.list-items{
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-logo span{
    text-decoration: none;
}

.nav_black{
    background-color: rgba(0, 0, 0, 0.9);
}

.hide-ham{
    display: none;
}

@media screen and (max-width:980px) {
    .nav-list{
        display: none;
        flex-direction: column;
       align-items: center;
    }

    .navbar-container{
        grid-template-columns: 100%;
    }

    .hide-ham{
        display: block;
    }
}