.navbar-container{
    display: grid;
    grid-template-columns:50% 50%;
    align-items: center;
    justify-content: center;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    color: white;

    transition-timing-function: ease-in 1.5s;
    transition: all 0.5s;
}

.list-style-none {
    text-decoration-color: black;
    text-decoration: none;
    list-style: none;
  }

  .sub-menu {
    border-radius: 5px;
    list-style: none;
    display: none;
    position: absolute;
    background-color:black;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
    left: 0;
    margin-top: 10px;
  }
  
  .linkInitiatives{
    list-style: none;
    text-decoration: none;
  }

  
.menu {
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    display: inline-block;
    position: relative;
  }
  
  .sub-menu li {
    padding: 1rem;
  }
  
  .sub-menu-item {
    border-radius: 3px;
    color: white;
    list-style-type: none;
  }
  
  .sub-menu-item:hover {
    color: #e88f0a;
  }
  
  .menu:hover {
  color:#e88f0a;
  }


.menu:hover .sub-menu {
    display: block;
  }

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img{
    width: 70px;
    object-fit: contain;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.list-items{
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-logo span{
    text-decoration: none;
}

.nav_black{
    background-color: rgba(0, 0, 0, 0.9);
}

.hide-ham{
    display: none;
}

@media screen and (max-width:980px) {
    .nav-list{
        display: none;
        flex-direction: column;
       align-items: center;
    }

    .navbar-container{
        grid-template-columns: 100%;
    }

    .hide-ham{
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .menu {
        float: none;
        line-height: 2rem;
        width: 100%;
        background-color: inherit;
        padding: 0;
        margin: 0;
      }
    
      .sub-menu {
        position: relative;
        background-color: inherit;
        box-shadow: none;
      }
    
      .sub-menu li {
        padding: 0.25rem;
      }
    }