@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');
/* 
.testimonial{
 padding: 10%;
 width: 70%;
 margin-top: auto;
}

.outer{
height: 400px;
font-size: 1.4rem;
} */

@media screen and (max-width:375px){
    .testimonial{
       padding: 0;
       width: 100%; 
    }
    .outer{
        font-size: 0.4em;
    }
}

@media screen and (max-width: 768px) {
    .parallax-inner h2{
        font-size: 1.5rem;
      }
}