.footer-right ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-right img{
  filter: grayscale();
}

.footer-right .line{
  height: 1px;
  width: 95%;
  background-color: #e4e4e4;
  margin: 10px;
}

@media screen and (max-width: 768px){
    .footer-container{
      display: flex;
      flex-direction: column;
      padding: 30px;
      width: 100vw;     
    }

    .footer-container div:nth-child(1){
      width: 100%;
    }
}