.page1{
    background-color: #e88f0a;
    height: 40vh;
    color: white;
}

.new{
    position: relative;
    background-color: beige;
    color:black;
    float:right;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 4px 4px;
    border-radius: 8px;
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
}

.page2{
    background-color: black;
    color: white;
    height: 100vh;
    display: grid;
    grid-column-gap:10px;
    grid-template-columns: auto auto;
    padding: 5px;
}

p{
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
	
	justify-content: center;
	align-items: center;
    vertical-align: middle;
}

.image{
    align-items: center;
    padding-top: 3%;
    padding-bottom: 5%;
    float: left;
}

.item{
   
    text-align: center;
    font-size: 20px;
}

