.donate-box{
    height:150px;
    color: white;
    display: flex;
    /* justify-content:space-around;
    align-items: center; */
    flex-wrap: wrap;
}

.new{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    color:black;
    height:5vh;
    padding:2%;
    font-size: 20px;
    cursor: pointer;
    border-radius:6px;

}
.page2{
  display:grid;
  grid-template-columns:50% 50%;
  background-color: black;
  color: white;
}

.img-logo
{
  height:27vh;
  width:15vw;
  border-radius:50%;
}
.footer-subsection
{
  display: flex;
  flex-wrap: wrap;
}
.img-logo1
{
  height:15vh;
  width:10vw;
  margin:2%;
}

@media screen and (max-width:425px){
  .page1 h1{
    font-size: 6vw;
  }

.new{
  font-size: 15px;
}
}

@media screen and (min-width:425px) and (max-width:768px) {
  .page1 h1{
    font-size: 7vw;
  }

.new{
  font-size: 20px;
}

  .page2{
    display:grid;
    grid-template-columns:100%;
  }
}

.footer-right ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-right img{
  filter: grayscale();
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 1;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #F1C34F;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.4s;
}

/* .back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
} */

.back-to-top:hover {
  background: #eecc76;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.footer-right .line{
  height: 1px;
  width: 95%;
  background-color: #e4e4e4;
  margin: 10px;
}