.home-div{
	overflow: hidden;
}

.donate1
{
	background: none;
	transition: 0.5s;
	/* align-self: center; */
	color:white;
	border:2px solid;
	/* position: relative; */
	/* top: 50%; */
}
.donate1:hover
{
	background-color: #e88f0a;
	color: black;
	border:2px solid black
}

.bg-image{
  font-size: 2.5rem;
  /* width: auto; */
  color: white;
  padding: 50px 0 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}


.slide{
	background: rgba(0, 0 , 0 , 0.4);
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	background-blend-mode: darken;
	background-position: center top;
	
  }

  @media screen and (max-width:425px) {
		.sty{
           font-size: 1rem;
		   
		   
		}
		.donate1{
			font-size: 1rem;
		}
  }
  @media screen and (min-width:425px) and (max-width:768px) {
	  .sty{
		 
		  font-size: 1.2rem;
		  float: initial;
	  }
	  .donate1{
		font-size: 1.2rem;
	}
  }



