.blog-main{
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px){
.blog-main {
    width: 970px;
}
}

@media (min-width: 768px){
.blog-main {
    width: 750px;
    }
}

.blog-main p{
    line-height: 1.5rem;
}

.blog-main h5{
    word-spacing: 2px;
}

.blog-main .line{
    height: 0.5px;
    width: 100%;
    /* opacity: 0.2; */
    margin-top: 40px;
    margin-bottom: 40px;
  }

.blog-main img{
    filter: grayscale();
}


.blog-main .post-deets{
    flex-wrap: wrap;
}

.blog-main .post-deets span{display: block;
    border-right: 1px solid rgb(145, 145, 145);
    padding-right: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 768px){

    .blog-main{
        width: 100%;
        padding: 15px;
    }

    .blog-main h2, .blog-main h5{
        text-align: center;
    }
    .blog-main h2, .blog-main .post-deets, .blog-main p, .blog-main img{
        width: 100%;
        /* margin: 10px 10px; */
    }

    .blog-main p{
        overflow: visible;
    }

    .blog-main .blog-icons{
        display: flex;
        flex-direction: column;   
     }
}